{% load i18n %}
<li id="{{ prefix }}-container" class="tab sequence-member blockname-{{ block_type_name }}">
  <input type="hidden" id="{{ prefix }}-deleted" name="{{ prefix }}-deleted" value="">
  <input type="hidden" id="{{ prefix }}-order" name="{{ prefix }}-order" value="{{ index }}">
  <a class="tab-button" href="#">Tab Item</a>
  <div class="tab-content">
    <div class="sequence-controls list-controls button-group button-group-square">
      <button type="button" id="{{ prefix }}-moveup" title="{% trans 'Move up' %}" class="icon text-replace icon-order-up">{% trans 'Move up' %}</button>
      <button type="button" id="{{ prefix }}-movedown" title="{% trans 'Move down' %}" class="icon text-replace icon-order-down">{% trans 'Move down' %}</button>
      <button type="button" id="{{ prefix }}-delete" title="{% trans 'Delete' %}" class="icon text-replace hover-no icon-bin">{% trans 'Delete' %}</button>
    </div>
    <div class="sequence-member-inner {% block sequence_member_inner_classes %}{% endblock %}">{{ child.render_form }}</div>
  </div>
</li>
