{% load i18n %}
<div class="sequence-container sequence-type-{% block sequence_type_class %}{% endblock %}">
  <input type="hidden" name="{{ prefix }}-count" id="{{ prefix }}-count" value="{{ list_members_html|length }}">

  <div class="sequence-container-inner">
    <ul id="{{ prefix }}-list" class="tabs sequence">
      {% for list_member_html in list_members_html %}
        {{ list_member_html }}
      {% endfor %}
    </ul>
    <button type="button" id="{{ prefix }}-add" class="bicolor icon icon-plus">{% trans "Add another" %}</button>
  </div>
</div>
